body{
    font-family: Arial,  sans-serif;
    background-color: rgb(218, 183, 183);
}
h1{
    color: rgb(60, 36, 7);
}
form{
    background-color: rgb(215, 135, 135);
    text-align: center;
   max-width: 400px;
   margin: auto;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 5px 5px 15px rgb(155, 66, 66);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5rem;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(203, 82, 126);
    font-size: 1.5em;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(148, 13, 62);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}